
.reservation-form {
    padding-top: 9vh;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border-color: black;
    background-color: #f8f9fa;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .reservation-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .reservation-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .reservation-form .date-time-picker {
    margin-bottom: 15px;
  }
  
  .reservation-form button {
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  

@media only screen and (max-width: 1200px) {
  body{
    overflow: auto;
    margin: auto;
    padding: auto;
    width: auto;
    height: auto;
  }
  .reservation-form {
    display: block;
  }
  .mobile-screen-block{
    padding: 5px;
    display: block;
  }
  .mobile-screen-from-to{
    padding: 5px;
    display: block;
  }
  .mobile-screen-button{
    justify-content: center;
    position: static;
    align-items: center;
    text-align: center;
    gap: 0;
    left: 0;
    right: 0;
    padding-top: 30%;
  }
}